<div class= "item">
  <h1>Item: <%= @item.name %></h1>
<p> description: <%= @item.description %></p>
<p>cost: $<%= @item.unit_price %></p>
<p>Made by: <%= link_to @merchant.name, merchant_path(@merchant.id) %></p>
</div>
